/* General Style */

body {
  background-color: #1F2937;
  font-family: 'Roboto', sans-serif; 
  color:white;
  margin: 0;
}

/* Link Style */

a {
  text-decoration: none;
  color: white;
  
}

a:hover {
  color: skyblue
}

/* List Style */

ul {
  list-style-type: none;
  font-size: 18px;

  display: flex;
  gap: 28px;
}

/* Header and Header's Items Style */

.header {
  padding: 12px;

  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 280px;
}

.logo {
  font-weight: 900;
  font-size: 28px;
} 

.header-links {
}

/* Top Content Style */

.top-content {
  display: flex;
  justify-content: space-evenly;
  margin-top: 75px;
  margin-bottom: 75px;
}

.main-container {
}

.main-text {
  font-size: 60px;
  font-weight: 1000;
  max-width: 500px;
}

.sub-text {
  font-size: 22px;
  max-width: 560px;
  margin-bottom: 12px;
}

.placeholder {
  background-color: #6D747D;
  font-size: 20px;
  padding: 120px;

  display: flex;
  justify-content: center;
  align-items: center;
}

button#sign-up-1 {
  border-radius: 8px;
  background-color: #3882F6;
  color: white;
  border: #3882F6;
  padding: 7px 35px;

  font-size: 18px;
  font-weight: 700;
}

button#sign-up-1:hover {
  background-color: white;
  color: #3882F6;
}

/* Bottom Content Style */

.bottom-content {
  background-color: white;
  color: black;
  padding: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-2 {
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 50px;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 60px
}

.image {
  width: 200px;
  height: 200px;

  border: 5px solid;
  border-color: #3882F6;
  border-radius: 22px;
  margin-bottom: 12px;
}

.subtext-bottom {
  color: #4B5563;
  font-size: 22px;
  max-width: 200px;
  text-align: center;
}

.review {
  margin-top: 175px;
  margin-bottom: 175px;
}

.quote {
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
  width: 910px;
}

.name {
  font-weight: 700;
  font-size: 28px;
  text-align: end;
}

.cta {
  background-color: #3882F6;
  padding: 36px 60px;
  border-radius: 14px;

  width: 800px;
  margin-bottom: 60px;

  display: flex;
  justify-content: center;
  gap: 150px;
}

.cta-header {
  font-size: 25px;
  font-weight: 900;
  

  color: white;
}

.cta-subtext {
  color: #E5E7EB;
}

button.cta-button {
  border-radius: 8px;
  border-color: white;
  border: 3px solid;

  color: white;
  border-color: white;
  background-color: #3882F6;
  padding: 7px 35px;

  font-size: 18px;
  font-weight: 700;
}

button.cta-button:hover {
  color: #3882F6;
  border-color: #3882F6;
  background-color: white;
}

/* Footer Style */

.footer {
  text-align: center;
  padding: 38px 0px;

  font-size: 18px;
}




